<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance of WatchApp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ShoppingListAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WatchApp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>phone_and_watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F1A7B591A66D479006E48FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1A7B631A66D479006E48FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1A7B8E1A67150F006E48FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F35A4881A64210500699C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F35A4A11A64210500699C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF7B39A1A65C2E200224919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
